@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;

// ==================== Grid Utility Classes ==================== //
.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.place-center {
	place-items: center;
}

.products-grid {
	grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
}
