@use "../../../styles/abstract/functions" as *;

// ==================== Button with Icon ==================== //
.button {
	width: rem(50);
	aspect-ratio: 1;
	padding: rem(8);
	outline-offset: 0;
	position: relative;

	&:active {
		background-color: hsl(var(--clr-neutral-200));
		box-shadow: var(--shadow-100);
	}
}
