@use "../../../styles/abstract/functions" as *;

// ==================== Product Card ==================== //
.card {
	margin: 0;
	box-shadow: var(--shadow-200);
	overflow: hidden;
	position: relative;

	&:hover &__image img {
		transform: scale(1.2);
	}

	&__wrapper {
		padding: 0 var(--space-400) var(--space-400);

		h3 {
			line-height: 1.1;
			margin-bottom: 0.5rem;
		}
	}

	&__image {
		width: 100%;
		height: rem(375);
		background-color: hsl(var(--clr-neutral-200));
		overflow: hidden;
		position: relative;

		img {
			object-fit: cover;
			transition: transform 350ms ease-in-out;
		}
	}

	&__label {
		line-height: 1;
		padding: 0.25rem 0.5rem;
		background-color: hsl(var(--clr-primary-900));
		position: absolute;
		top: var(--space-400);
	}

	&__heart {
		padding: 0;
		aspect-ratio: 1;
		position: absolute;
		top: var(--space-400);
		right: var(--space-400);
	}

	&__price {
		font-weight: 600;
	}

	&__button {
		padding: rem(5);
		background-color: hsl(var(--clr-primary-900));

		&:hover,
		&:focus {
			background-color: hsl(var(--clr-primary-800));
		}
	}
}
