@use "../../../styles/abstract/functions" as *;
@use "../../../styles/abstract/breakpoints" as bp;

// ==================== Navigation Menu ==================== //
.menu {
	--gap: 1.25rem;
	--padding-inline: min(1rem + 6vw, 4.6875rem);

	width: 100%;
	height: 100vh;
	background-color: hsl(var(--clr-neutral-100));
	position: fixed;
	inset: 0 0 0 0;
	z-index: 6;
	transform: translateX(-100vw);
	transition: transform 200ms ease-in-out;

	&[data-expanded="true"] {
		transform: translateX(0);
	}

	@include bp.breakpoint(medium) {
		width: 70vw;

		// Menu Overlay
		&::after {
			content: "";
			width: 30vw;
			background-color: hsl(var(--clr-neutral-900) / 0.35);
			position: absolute;
			inset: 0 0 0 auto;
			transform: translateX(100%);
		}
	}

	// Menu Lists (ul's)
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__header,
	&__footer,
	&__link {
		background-color: hsl(var(--clr-neutral-50));
	}

	&__header,
	&__footer {
		padding: var(--space-400) var(--padding-inline);
	}

	&__link,
	.footer__link {
		--gap: 0.5rem;

		font-weight: 600;
		text-decoration: none;
	}

	&__link {
		width: 100%;
		padding: rem(4) var(--padding-inline);
		box-shadow: var(--shadow-100);

		&:hover,
		&:focus {
			background-color: hsl(var(--clr-primary-200));
		}
	}

	&__footer {
		--gap: 0.5rem;

		margin-top: auto;
		padding-block: rem(12);
	}
}
