@use "../utils/" as *;

// ==================== Cart Menu ==================== //
.menu {
	width: rem(300);
	padding: var(--space-200-300);
	border-radius: 5px;
	background-color: hsl(var(--clr-neutral-50));
	box-shadow: var(--shadow-100);
	position: absolute;
	top: calc(rem(55) + var(--space-400)); // 55 is the size of icon button
	right: 0;
	z-index: 4;
	transform: scale(0);
	transform-origin: top right;
	transition: transform 100ms ease-in-out;

	&[data-expanded="true"] {
		opacity: 1;
		transform: scale(1);
	}

	&::before {
		content: "";
		border: 1rem solid transparent;
		border-bottom-color: hsl(var(--clr-neutral-50));
		position: absolute;
		top: -25px;
		right: rem(12);
	}

	& > * + * {
		border-top: 1px solid hsl(var(--clr-neutral-200));
	}

	&__header,
	&__total {
		font-weight: 700;
		line-height: 1.4;
		display: flex;
		justify-content: space-between;
	}

	&__header {
		padding-bottom: var(--space-200);
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: var(--space-200) 0;
	}

	&__total {
		padding-block: var(--space-100);
	}

	&__button {
		padding-top: var(--space-200);
	}
}
