@use "../utils/" as *;

// ==================== Button with Icon ==================== //
.button {
	width: rem(50);
	aspect-ratio: 1;
	padding: rem(8);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&:active {
		background-color: hsl(var(--clr-neutral-100));
		box-shadow: var(--shadow-100);
	}
}
