@use "../utils/" as *;

// ==================== Navigation Bar ==================== //
.nav {
	padding-block: var(--space-400);
	background-color: hsl(var(--clr-neutral-50));
	box-shadow: var(--shadow-300);

	&__wrapper {
		width: min(100% - 2.125rem, 80.625rem);
		margin-inline: auto;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin-left: 0;

		@include breakpoint(small) {
			margin-left: rem(54);
		}
	}

	&__iconsGroup {
		display: flex;
		gap: rem(4);
		position: relative;
	}
}
