@use "../utils/" as *;

// ==================== Navigation Bar ==================== //
.nav {
	padding-block: var(--space-400);
	background-color: hsl(var(--clr-neutral-50));
	box-shadow: var(--shadow-300);
	position: relative;

	&__wrapper {
		width: var(--container-width);
		margin-inline: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin-left: 0;

		@include breakpoint(small) {
			margin-left: rem(54);
		}
	}

	&__iconsGroup {
		display: flex;
		gap: rem(4);
		position: relative;
	}
}
