:focus {
	outline-offset: 2px;
	outline: 2px solid hsl(var(--clr-primary-900));
}

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	line-height: 1.7;
	color: hsl(var(--clr-neutral-900));
	min-height: 100vh;
	background-color: hsl(var(--clr-primary-100));
}

.container {
	width: min(100% - 2.125rem, 80.625rem);
	margin-inline: auto;
}

// For screen reader text
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
