h1 {
	font-size: var(--fs-900);
	line-height: 1.1;
}

h2 {
	line-height: 1.15;
}

h3 {
	line-height: 1.2;
}

a {
	color: hsl(var(--clr-primary-900));

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.section-title {
	font-size: var(--fs-700);
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;

	&::before,
	&::after {
		content: "";
		height: 1px;
		transform: translateY(0.25rem);
		background-color: hsl(var(--clr-neutral-500) / 0.5);
	}

	&::before {
		margin-right: var(--space-400);
	}

	&::after {
		margin-left: var(--space-400);
	}
}
