:root {
	// Neutral Colors
	--clr-neutral-50: 0 0% 100%;
	--clr-neutral-100: 0 0% 92%;
	--clr-neutral-200: 0 0% 82%;
	--clr-neutral-300: 0 0% 72%;
	--clr-neutral-400: 0 0% 62%;
	--clr-neutral-500: 0 0% 52%;
	--clr-neutral-600: 0 0% 42%;
	--clr-neutral-700: 0 0% 32%;
	--clr-neutral-800: 0 0% 22%;
	--clr-neutral-900: 0 0% 12%;

	// Primary Colors
	--clr-primary-100: 180 100% 98%;
	--clr-primary-200: 180 100% 88%;
	--clr-primary-300: 180 100% 78%;
	--clr-primary-400: 180 100% 68%;
	--clr-primary-500: 180 100% 58%;
	--clr-primary-600: 180 100% 48%;
	--clr-primary-700: 180 100% 38%;
	--clr-primary-800: 180 100% 28%;
	--clr-primary-900: 180 100% 18%;
}
