:root {
	// Border Raduis
	--rounded-100: 3px;
	--rounded-200: 5px;
	--rounded-300: 8px;
	--rounded-400: 12px;

	// Box Shadows
	--shadow-100: 0px 1px 1px rgb(0 0 0 / 0.25), 0px 0px 1px rgb(31 31 31 / 0.3);
	--shadow-200: 0px 3px 5px rgb(31 31 31 / 0.2), 0px 0px 1px rgb(31 31 31 / 0.3);
	--shadow-300: 0px 8px 12px rgb(31 31 31 / 0.15), 0px 0px 1px rgb(0 0 0 / 0.3);
}
