:root {
	// Font Families
	--ff-primary: "Oswald", sans-serif;

	// Font Sizes
	--fs-200: clamp(0.69rem, calc(0.67rem + 0.13vw), 0.78rem); // 11.11px - 12.5px
	--fs-300: clamp(0.83rem, calc(0.8rem + 0.15vw), 0.94rem); // 13.33px - 15px
	--fs-400: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem); // 16px - 18px
	--fs-500: clamp(1.2rem, calc(1.15rem + 0.22vw), 1.35rem); // 19.2px - 21.6px
	--fs-600: clamp(1.44rem, calc(1.38rem + 0.27vw), 1.62rem); // 23.04px - 25.92px
	--fs-700: clamp(1.73rem, calc(1.66rem + 0.32vw), 1.94rem); // 27.65px - 31.10px
	--fs-800: clamp(2.07rem, calc(1.99rem + 0.38vw), 2.33rem); // 33.18px - 37.32px
	--fs-900: clamp(2.49rem, calc(2.38rem + 0.46vw), 2.8rem); // 39.81px - 44.79px
}
