:root {
	--space-100: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem); // 4 - 5px
	--space-200: clamp(0.5rem, calc(0.48rem + 0.09vw), 0.56rem); // 8 - 9px
	--space-300: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.88rem); // 12 - 14px
	--space-400: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem); // 16 - 18px
	--space-500: clamp(1.5rem, calc(1.44rem + 0.28vw), 1.69rem); // 24 - 27px
	--space-600: clamp(2rem, calc(1.92rem + 0.37vw), 2.25rem); // 32 - 36px
	--space-700: clamp(3rem, calc(2.88rem + 0.56vw), 3.38rem); // 48 - 54px
	--space-800: clamp(4rem, calc(3.83rem + 0.74vw), 4.5rem); // 64 - 72px
	--space-900: clamp(6rem, calc(5.75rem + 1.11vw), 6.75rem); // 96 - 108px

	/* One-up pairs */
	--space-100-200: clamp(0.25rem, calc(0.15rem + 0.46vw), 0.56rem); // 4 - 9px
	--space-200-300: clamp(0.5rem, calc(0.38rem + 0.56vw), 0.88rem); // 8 - 14px
	--space-300-400: clamp(0.75rem, calc(0.63rem + 0.56vw), 1.13rem); // 12 - 18px
	--space-400-500: clamp(1rem, calc(0.77rem + 1.02vw), 1.69rem); // 16 - 27px
	--space-500-600: clamp(1.5rem, calc(1.25rem + 1.11vw), 2.25rem); // 24 - 36px
	--space-600-700: clamp(2rem, calc(1.54rem + 2.04vw), 3.38rem); // 32 - 54px
	--space-700-800: clamp(3rem, calc(2.5rem + 2.22vw), 4.5rem); // 48 - 72px
	--space-800-900: clamp(4rem, calc(3.08rem + 4.07vw), 6.75rem); // 64 - 108px
}
